
@model ParkInfo
@{
    ViewData["Title"] = "Detail";


}
<style>

    .fun-fact {
        background-color: lightgray;
        font-weight: 600;
    }

    .weather {
        background-color: lightgray;
    }
</style>

<br />
<img style="width:30%;" src="~/images/@(Model.park.ParkCode).jpg" /><br />
<div class="fun-fact">
    <h1 style="text-align:center;">@Model.park.ParkName </h1> <br />

    <p>@Model.park.ParkDescription </p> <br />

    Acreage: @Model.park.Acreage <br />
    Annual Visitors: @Model.park.AnnualVisitorCount <br />
    Elevation(in ft): @Model.park.ElevationInFeet <br />
    Entry Fee: $@Model.park.EntryFee <br />
    Inspirational Quote: <i>@Model.park.InspirationalQuote </i>
    <span style="text-align:right;">~@Model.park.InspirationalQuoteSource </span>  <br />
    Miles Of Trail: @Model.park.MilesOfTrail <br />
    Number Of Animal Species: @Model.park.NumberOfAnimalSpecies <br />
    Number Of Campsites: @Model.park.NumberOfCampsites <br />
    State: @Model.park.State <br />
    Year Founded: @Model.park.YearFounded <br />
</div>

<h2 style="text-align:center;">Weather Forecast</h2> <br />
<a asp-action="SetTempMeasurement" asp-route-id="@Model.park.ParkCode" class="btn btn-success">Change Between Farenheit and Celsius </a><br />
<div class="weather">
    @foreach (var item in Model.weather)
    {
        <div style="width: 220px; display:inline-block; vertical-align:top; text-align:center;">
            <img style="width: 50%" src="~/images/@(item.Forecast).png" /><br />


            @switch (item.FiveDayForecastValue)
            {
                case 1:
                    <div style="font-weight:700; color:#0094ff; font-size: 22px;">Today</div>;
                    break;
                case 2:
                    <div style="font-weight:700;">Monday</div>;
                    break;
                case 3:
                    <div style="font-weight:700;">Tuesday</div>
                    break;
                case 4:
                    <div style="font-weight:700;">Wednesday</div>
                    break;
                case 5:
                    <div style="font-weight:700;">Thursday</div>
                    break;
                default:<br />
                    break;


            }
            @item.Forecast
            @switch (item.Forecast)
            {
                case "snow":
                    <div>Pack your snow shoes!</div>;
                    break;
                case "rain":
                    <div>Pack your rain gear and wear waterproof shoes!</div>;
                    break;
                case "thunderstorms":
                    <div>Seek shelter and avoid hiking on exposed ridges!</div>
                    break;
                case "sun":
                    <div>Pack sun block!</div>
                    break;
                default:<br />
                    break;
            }



            <div>High Temp  @item.High&deg;@item.Unit</div> <br />
            <div>Low Temp  @item.Low&deg;@item.Unit</div> <br />



            @if (item.High >= 75 && item.Unit == "F" || item.High >= 24 && item.Unit == "C")
            {

                <div>Bring an extra gallon of water!</div>

            }

            @if (item.Low <= 20 && item.Unit == "F" || item.Low <= -6 && item.Unit == "C")
            {
                <div>Warning! Low temperature, be cautious of exposure.</div>

            }

            @if (item.High - item.Low >= 20 && item.Unit == "F" || item.High - item.Low >= 11 && item.Unit == "C")
            {

                <div>Wear breathable layers!</div>

            }

            <br />
        </div>
    }
</div>